# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxxxxxx
POSTGRES_DB=dawarich

DATABASE_HOST=dawarich_db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=xxxxxxxx
DATABASE_NAME=dawarich

# Rails
SECRET_KEY_BASE=xxxxxxxx

# Application
APPLICATION_HOSTS=mycustomdomain.blablabla.com
APPLICATION_PROTOCOL=https
TIME_ZONE=Europe/Rome

# Ports
DAWARICH_APP_PORT=3000

# Logs
LOG_MAX_SIZE=100m
LOG_MAX_FILE=5

# Resources
APP_CPU_LIMIT=0.50
APP_MEMORY_LIMIT=4G
